MONGO_URI = ""

JWT_SECRET = ""
JWT_EXPIRE = ""

COOKIE_EXPIRE = ""

SMTP_CLIENT_ID = ""
SMTP_CLEINT_SECRET = ""
SMTP_REDIRECT_URI = ""
SMTP_REFRESH_TOKEN = ""
SMTP_EMAIL_ADRESS = ""
SMTP_SERVICE_PROVIDER = ""